<footer class="text-center text-white" style="background-color: #21081a;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(131, 86, 86, 0.2);">
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="www.github.com/inwerejosic/InweResume-wootlab" target="_blank">InweResume </a>
    <!-- <a href="www.github.com/inwerejosic/InweResume-wootlab" target="_blank">InweResume </a> -->
   </div>
  </div>
  <!-- Copyright -->
</footer>