<nav class="navbar navbar-expand-lg navbar-light bg-light" id="fineboy">
  <div class="container-fluid">
      <a href="/" class="navbar-brand" style="font-style: italic;">
          <img src="" height="28" alt="Inweresume">
      </a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto" id="fineboy">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/blogs/create" class="nav-item nav-link">New resume</a>
            <a href="#" class="nav-item nav-link">Login</a>
            <a href="/signup" class="nav-item nav-link">Sign Up</a>
          </div>
      </div>
  </div>
</nav>